{% extends 'base.html' %}

{% block title %}Room{% endblock %}

{% block content %}
  <h2>{{ object.name }}</h2>
  <div data-ref="messages">
    {% for message in messages %}
      <div>
        <p>
          By
          <a href="{% url 'profile_detail' message.user.profile.pk %}">{{ message.user.username }}</a>
          on
          <time datetime="{{ message.datetime|date:"c" }}" data-ref="message-time"></time>
          <p>{{ message.content }}</p>
        </p>
      </div>
    {% endfor %}
  </div>
  <form data-ref="message-form">
    {{ form }}
    <input type="submit" value="Send" data-ref="message-submit">
  </form>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="/static/js/room.js"></script>
  <script>
    var room = new Room(
      '{{ object.pk }}',
      '{{ user.pk }}',
      '{{ user.profile.pk }}',
      '{{ user.username }}'
    );
    room.bindEvents();
  </script>
{% endblock %}
