{% extends 'base.html' %}

{% block title %}Room{% endblock %}

{% block content %}
  <div class="content content--room">
    <h2 class="content__heading">{{ object.name }}</h2>
    <div class="content__main">
      <div class="messages" data-ref="messages">
        {% for message in messages %}
          <div class="message">
            <div class="message__metadata">
              <p>By <a href="{% url 'profile_detail' message.user.profile.pk %}">{{ message.user.username }}</a> on <time datetime="{{ message.datetime|date:"c" }}" data-ref="message-time"></time></p>
            </div>
            <div class="message__content">
              <p>{{ message.content }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <form class="form form--message" data-ref="message-form">
        {{ form }}
        <input type="submit" value="Send" data-ref="message-submit">
      </form>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="/static/js/room.js"></script>
  <script>
    var room = new Room(
      '{{ object.pk }}',
      '{{ user.pk }}',
      '{{ user.profile.pk }}',
      '{{ user.username }}'
    );
    room.bindEvents();
  </script>
{% endblock %}
